.recibeStyle{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.indexContainer{
    border: 1px solid black;
    color:blue;
    margin: 2.5rem;
    display: flex;
    justify-content: center;
    align-content:center;
}